@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9CA5C6;
    font-family: Poppins;
    min-height: 100vh;
    border: 0;


}

.container {
    
  
    
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 450px;
    max-width: 100%;
    zoom: 0.75;
    
}

.header {
    padding: 30px 40px;
}

.header h2 {
    font-weight: 600;
    color: #485990;
    font-size: 30px;
}

.form {
    padding: 0 40px 30px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    color: #b6bed6;
}

.form-control input {
    border: 2px solid #868a9b;
    border-radius: 5px;
    outline: 0;

    display: block;

    font-size: 14px;

    width: 100%;
    padding: 15px;
}
.form-control.success input{
    border: 3px solid #4ECA64;
}

.form-control.error input{
border: 3px solid rgb(231, 80, 80);
}

.form-control.success i .img-success {
visibility: visible;
}
.form-control.error i .img-error {
    visibility: visible;
}

.form-control.error small {
    visibility: visible;
    color: rgb(231, 80, 80);
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;

}

.form button {
    background-color: #485990;
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    border: 0;

    margin-top: 5px;

    cursor: pointer;
}

.form button:hover {
    background-color: #626e96;
    transition: 0.3s;
}